<div class="card">
  <!-- lable login -->
  <h2 class="card-header">Login</h2>
  <!-- login form -->
  <form class="card-body loginForm">
    <div class="form">
      <label class="FormUserName">userName</label>
      <input class="formInputvalues" type="text" id="userNamelogin" />
    </div>
    <div class="form">
      <label class="FormUserName">Password</label>
      <input class="formInputvalues" type="password" id="passwordLogin" />
    </div>
    <div class="form">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
  <br />
  <a href="/signup">Sign up instead</a>
</div>
<!-- link to login.js file -->
<script src="/js/login.js"></script>