<!-- signup form -->
<div class="card">
  <!-- lable SignUp -->
  <h2 class="card-header">Sign Up</h2>
  <!-- signup form -->
  <form class="card-body signup-form">
    <div class="form">
      <label class="FormUserName">UserName</label>
      <input class="formInputvalues" type="text" id="userNameSignup" />
    </div>
    <div class="form">
      <label class="FormUserName">Password</label>
      <input class="formInputvalues" type="password" id="passwordSignup" />
    </div>
    <div class="form">
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
  </form>
  <br />
  <a href="/login">Login instead</a>
</div>
<!-- link to signup.js file -->
<script src="/js/signup.js"></script>