/* Define variables with values */
:root {
  --brown: #38302e;
  --light-brown: #6f6866;
  --light-green: #ccdad1;
  --medium-green: #9caea9;
  --gray: #788585;
  --border-size: 3px;
}

/* general css properties */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--brown);
}

/* body properties */
body {
  background-color: var(--light-green);
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--brown);
  line-height: 2;
  font-size: medium;
}

/* navbar */
.navbar {
  /* justify-content: space-around; */
  background-color: var(--brown);
  width: 100%;
}
.navbar ul {
  display: flex;
  flex-direction: row;
}
.navbar a {
  color: var(--light-green);
}

.navbar a:hover {
  color: aliceblue;
}

.navbar a:visited {
  columns: var(--medium-green);
}
.navbar li {
  padding-left: 50px;
}

/* main page header css properties */
.hero {
  background-color: var(--brown);
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 45px;
  color: var(--light-green);
}

/* main page header title css properties */
.title {
  font-size: 50px;
  background-color: var(--light-green);
  color: var(--brown);
  padding-left: 10px;
  display: inline-block;
  border-radius: var(--border-size);
  box-shadow: 5px 5px var(--light-brown);
}

.title a {
  color: var(--brown);
}

/* header css properties */
h1,
h2 {
  font-weight: 600;
  margin: 0;
  color: var(--brown);
  line-height: 2;
}

h2 a {
  color: var(--light-green);
}
h2 a {
  color: aliceblue;
}
h2 a:visited {
  color: var(--medium-green);
}

/* cards for login and signup form */
.card {
  margin: 0 0 20px 0;
  border-radius: var(--border-size);
  border: solid;
  border-color: var(--brown);
  background-color: var(--light-green);
}

.card-header {
  color: var(--light-green);
  background-color: var(--brown);
  padding: 1%;
  border-radius: var(--border-size);
}
.card-header h2 {
  color: var(--light-green);
}

.card-body {
  padding: 1%;
  background-color: var(--light-green);
}

.card-body2 {
  padding: 3%;
  color: var(--light-green);
  background-color: var(--brown);
  font-size: 20px;
  margin: 10px;
}

/* login and signup form properties */
.formUserName,
.formInputValues {
  display: block;
}

.formUserName {
  font-size: 20px;
  margin-bottom: 5px;
}

.formInputValues {
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  border-color: var(--brown);
  border-style: solid;
  border-radius: var(--border-size);
}

/* input css properties */
input {
  width: 100%;
  border: 1px solid var(--gray);
  background-color: aliceblue;
  margin: 0 0 5px;
  padding: 10px;
}

/* button css properties */
.btn {
  font-size: 20px;
  text-decoration: none;
  padding: 5px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-size);
  color: var(--light-green);
  border: none;
  outline: none;
  background-color: var(--brown);
  box-shadow: 3px 3px var(--light-brown);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--light-green);
  background-color: var(--light-brown);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--brown);
  cursor: pointer;
}

.btn:visited {
  background-color: var(--brown);
}

.btn-inline {
  display: inline;
}

.li-inline {
  display: inline;
}

/* FLEX CONTENT */
.flex-row {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-9 {
  width: auto;
}

.col-auto {
  margin-top: 50px;
}

/* footer css properties */
.footer a {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--brown);
  color: var(--light-green);
  border-radius: var(--border-size);
  text-decoration: none;
}
